<div class="lightBlue searchBarPadding flex overflow-hidden">
    <div class="flex-grow-1 flex align-items-center justify-content-center  font-bold m-2 px-5 py-3 border-round">
        <input type="text" pInputText placeholder="Search Products" class="w-full" style="width: 100%;" />
    </div>
    <div class="flex-none flex align-items-center justify-content-center font-bold m-2 px-5 py-3 border-round">
        <app-login-register></app-login-register> 
    </div>
</div>

<div class="card flex lightBlueSecondary justify-content-between" style="padding-right: 5%;">
    <div class="flex align-items-center">
        <ul style="margin: 0;">
            <li><a href="#home">Home</a></li>
            <li><a href="#home">Home2</a></li>
            <li><a href="#home">Home3</a></li>
            <li><a href="#home">Home4</a></li>
          </ul>        
    </div>
    <div class="flex justify-content-end align-items-center">
        <i class="pi pi-shopping-cart align-items-center" style="font-size: 2rem; color: white;"></i>
    </div>
</div>

<app-music-product-list></app-music-product-list>
<app-footer></app-footer>