

 <div class="surface-ground px-4 py-5 md:px-6 lg:px-8">
    <div class="grid">
        <div *ngFor='let p of products' class="col-12 md:col-6 lg:col-3">
            <div class="surface-card shadow-2 p-3 border-round">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="text-500">{{p.artist}}</span>
                        <span class="block text-500 font-mediummb-2">{{p.album}}</span>
                        <div>
                            <p-image src={{sanitizeUrls(p.imageUrl)}} width="150" [preview]="true"></p-image>
                        </div>

                    </div>
                    <div class="flex align-items-center justify-content-center bg-blue-100 border-round" style="width:2.5rem;height:2.5rem">
                        <i class="pi pi-shopping-cart text-blue-500 text-xl"></i>
                    </div>
                </div>
            </div>
        </div>

    </div>
 </div>